* {
    padding: 0%;
    margin: 0%;
}
body {
    background-color: indigo;
}
p {
    color: olive;
}
h1 {
    color: chocolate;
}
.box {
    color: yellow;
}
.box__inside {
    background-color: crimson;
}